:root {
  /* Base colors */
  --flexoki-black: #100f0f;
  --flexoki-paper: #fffcf0;

  /* Base scale */
  --flexoki-50: #f2f0e5;
  --flexoki-100: #e6e4d9;
  --flexoki-150: #dad8ce;
  --flexoki-200: #cecdc3;
  --flexoki-300: #b7b5ac;
  --flexoki-400: #9f9d96;
  --flexoki-500: #878580;
  --flexoki-600: #6f6e69;
  --flexoki-700: #575653;
  --flexoki-800: #403e3c;
  --flexoki-850: #343331;
  --flexoki-900: #282726;
  --flexoki-950: #1c1b1a;

  /* Blue */
  --flexoki-blue-50: #e1eceb;
  --flexoki-blue-100: #c6dde8;
  --flexoki-blue-200: #92bfdb;
  --flexoki-blue-300: #66a0c8;
  --flexoki-blue-400: #4385be;
  --flexoki-blue-500: #3171b2;
  --flexoki-blue-600: #205ea6;
  --flexoki-blue-700: #1a4f8c;
  --flexoki-blue-900: #12253b;

  /* Red */
  --flexoki-red-50: #ffe1d5;
  --flexoki-red-300: #e8705f;
  --flexoki-red-400: #d14d41;
  --flexoki-red-600: #af3029;
  --flexoki-red-700: #942822;
  --flexoki-red-950: #261312;

  /* Green */
  --flexoki-green-50: #edeecf;
  --flexoki-green-300: #a0af54;
  --flexoki-green-400: #879a39;
  --flexoki-green-600: #66800b;
  --flexoki-green-700: #536907;
  --flexoki-green-950: #1a1e0c;

  /* Yellow */
  --flexoki-yellow-50: #faeec6;
  --flexoki-yellow-300: #dfb431;
  --flexoki-yellow-400: #d0a215;
  --flexoki-yellow-600: #ad8301;
  --flexoki-yellow-700: #8e6b01;
  --flexoki-yellow-950: #241e08;

  /* Magenta */
  --flexoki-magenta-50: #fee4e5;
  --flexoki-magenta-300: #e47da8;
  --flexoki-magenta-400: #ce5d97;
  --flexoki-magenta-600: #a02f6f;
  --flexoki-magenta-700: #87285e;
  --flexoki-magenta-950: #24131d;
}
